spring:
  datasource:
    url: jdbc:h2:mem:inventory;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: sa
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
    open-in-view: false
server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /api-docs

